<html>
    <head>
        <style>
            body {
                padding: 50px;
            }
        </style>
    </head>
    <body>
        <h1>Layered Architecture Application</h1>
        <hr>
        <p><strong>Profile Name: </strong><%= data.name %></p>
        <p><strong>Email: </strong><%= data.author %></p>
        <p><strong>Picture URL: </strong><%= data.blogPostUrl %></p>
        <form>
            <input name="email" id="email" placeholder="Enter email...">
            <button type="submit" onclick="">Load Profile</button>
        </form>
    </body>
</html>